<main>

  <div class="login-block">
    <h2>Edit account</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <div class="input-group">
          <%= f.label :first_name, class: "sr-only" %><br />
          <%= f.text_field :first_name, class: "form-control", placeholder: "Your first name", autofocus: true %>
        </div>
      </div>

      <hr class="hr-xs">

      <div class="form-group">
        <div class="input-group">
          <%= f.label :last_name, class: "sr-only" %><br />
          <%= f.text_field :last_name, class: "form-control", placeholder: "Your last name", autofocus: true %>
        </div>
      </div>

      <hr class="hr-xs">

      <div class="form-group">
        <%= f.radio_button :gender, "Male" %>
        <%= f.label :gender, "I am male" %>
      </div>

      <div>
         <%= f.radio_button :gender, "Female" %>
         <%= f.label :gender, "I am female" %>
      </div>

      <%= f.collection_select(:role_id, Role.all, :id, :title, {prompt: true}) %>

      <div class="form-group">
        <div class="input-group">
          <%= f.label :email, class: "sr-only" %><br />
          <%= f.email_field :email, class: "form-control", placeholder: "Your e-mail adress" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <div class="input-group">
          <%= f.label :change_password, class: "sr-only" %>
          <%= f.password_field :password, autocomplete: "off", placeholder: "change password", class: "form-control" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <%= f.label :password_confirmation, class: "sr-only" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "confirm password", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <%= f.label :current_password, class: "sr-only" %>
          <%= f.password_field :current_password, autocomplete: "off", placeholder: "enter password", class: "form-control" %>
        </div>
      </div>

      <hr class="hr-xs">

      <div class="form-group">

        <%= button_to "Back", :back, class: "btn btn-primary" %>

        <%= f.submit "Update", class: "btn btn-primary" %>

      </div>

      <hr class="hr-xs">

      <%= button_to "Cancel account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>

    <% end %>
  </div>

</main>
