<!-- FAVORITE JOBS  -->
<!-- <% @favorite_jobs.each do |favorite| %>
  <%= favorite.title %>
<% end %> -->
<!-- END FAVORITE JOBS -->

<%= render "header" %>

<main>
  <section class="no-padding-top bg-alt">
    <div class="container">
      <div class="row">

        <% @jobs.each do |job| %>

          <div class="col-xs-12">
            <%= link_to job_path(job.id), class: "item-block" do %>
              <header>
                <div class="hgroup">
                  <h4><%= job.title %></h4>
                  <h5><%= job.business %><span class="label label-success"><%= job.fte %></span></h5>
                </div>
                <time datetime="2016-03-10 20:00"><%= job.created_at %></time>
              </header>

              <div class="item-body">
                <p><%= job.description %></p>
              </div>

              <footer>
                <ul class="details cols-3">
                  <li>
                    <i class="fa fa-map-marker"></i>
                    <span><%= job.city %>, <%= job.country %></span>
                  </li>

                  <li>
                    <i class="fa fa-money"></i>
                    <span><%= job.pay_rate_minimum %> - <%= job.pay_rate_maximum %></span>
                  </li>

                  <li>
                    <i class="fa fa-certificate"></i>
                    <span><%= job.education_requirement %></span>
                  </li>
                </ul>
              </footer>
              <hr>

              <% end %>

          </div>
        <% end %>
      </div>
    </div>
  </section>
</main>
