<!DOCTYPE html>
<html>
  <head>
    <title>IA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <% if
      current_page?(new_user_registration_path) ||
      current_page?(edit_user_registration_path)||
      current_page?(new_user_session_path) ||
      current_page?(new_user_password_path) ||
      current_page?(edit_user_password_path)
    %>

      <body class="login-page">

    <% else %>

      <body class="nav-on-header smart-nav">

    <% end %>

    <%= render "layouts/navigation" %>

    <%= render "layouts/flashes" %>

    <%= yield %>

    <%= render "layouts/footer" %>

  </body>
</html>
